.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
font-size: 20px;
font-weight: bold;

}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: rgb(212, 59, 59);
}

.avatar {
  margin-right: 10px;
  border: 1px solid rgb(198, 218, 218);
  background-color: rgb(212, 241, 231);
}
