.friendList{
    width: 275px;
    display: flex;

    /* color: red; */
    /* margin: 0; */
    /* padding: 0; */
/* width: 300px; */
/* display: flex; */
/* align-items: center; */
/* margin-top: 20px; */
/* border: 1px solid red; */
background-color: red;
}